.Kaukalo {
  width: 100%;
  height: 600px;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}

.Kaukalo h3 {
  text-align: center;
}

.Kaukalo table {
  width:100%;
  border-width: 1px;
}
